.root_column {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    align-content: center;

    transition: all 0.15s ease-in-out;

}

.toggle_column {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    align-content: center;

    transition: all 0.15s ease-in-out;

}

.toggle_column:hover {
    background-color:rgba(0, 0, 0, 0.05);
}

.root_row {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    align-content: center;

    transition: all 0.15s ease-in-out;

}

.list_container_column {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #000;

    margin: 0;
    padding: 0;
    width: 256px;
    max-height: 300px;
    overflow-y: auto;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    transition: all 0.15s ease-in-out;


}

.list_item_column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #000;
    color: #ffcc01;

    margin: 0;
    padding: 4px 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    text-decoration: none;

    justify-content: center;
    align-items: flex-start;
    align-content: center;

    transition: all 0.15s ease-in-out;

}

.list_item_column:hover {
    background-color: #365fac;
}

/* Font Section */
.font_body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.font_body_link {
    font-size: 16px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.font_head {
    font-size: 48px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.font_background {
    font-size: 400px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.05);
    white-space: no-wrap;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.red_circle {
    border-radius: 50%;
    height: 1000px;
    width: 1000px;
    content: "";
    font-size: 400px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: #F20101;
    white-space: no-wrap;
}

.logo {
    position: relative;
    display: flex;
    max-width: 325px;
    height: auto;
}

.icon {
    position: relative;
    display: flex;
    max-width: 16px;
    height: auto;
}

.artwork {
    position: relative;
    display: flex;
    width: 256px;
    height: auto;
    transition: all 0.15s ease-in-out;

}

.artwork:hover {
    scale: 1.2;
}


.span_button {
    position: relative;
    display: flex;

    margin: 8px;
    padding: 8px 16px;
    background-color: #000;
    cursor: pointer;
    color: #ffcc01;

    outline: 0;
    transition: all 0.15s ease-in-out;

}

.span_button:hover {
    position: relative;
    display: flex;

    margin: 8px;
    padding: 8px 16px;
    background-color: #365fac;
    cursor: pointer;
    color: #ffcc01;

    outline: 0;
}

.span_button:active,
.list_item_column:active {
    scale: 0.9;
}



input[type='search'] {
    position: relative;
    display: flex;
    width: 170px;
    outline: 0;
    text-align: center;
    font-size: 16px;

    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.2em #365fac;

    transition: all 0.15s ease-in-out;

}

input[type='search']:focus,
input[type='search']:hover {
    position: relative;
    display: flex;
    width: 256px;
    outline: 0;

    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.2em #365fac;

}